#banner
	{
		text-align: center;
	}

#track
	{
		height: 500px;
		width: 85%;
		position: relative;
		margin-left: 10%;
	}
.list
	{
		cursor: pointer;
		height: 200px;
		width: 200px;
		float: left;
		padding: 0px;
		white-space: nowrap;
		position: relative;
		left: 10px;
		margin-bottom: 20px;
		margin-right: 20px;
		overflow: hidden;
		border-width: 2px;
		border-style: solid;
	}
.album_art
	{
		position: relative;
		height: 160px;
		width: 160px;
		float: right;
		top: 20px;
		right: 20px;
		z-index: -100;
	}
.album_image
	{
		height: 160px;
		width: 160px;
	}
.track_name
	{
		height:200px;
		width: 200px;
		position: relative;
		top: 150px;
		left: 0px;
		font-family: Arial, "MS Trebuchet", sans-serif;
		font-weight: bold;
		text-align: justify;
		background-color: #000;
		color: #FFF;
		z-index:100;
	}
#panel
	{
		position: fixed;
		height:550px;
		width:650px;
		top: 10%;
		left: 30%;
		background-color: #DDD;
		border-width: 1px;
		z-index:250;
	}
.friends
	{
		position: relative;
		left:0%;
		top:0%;
		overflow:scroll;
		width:650px;
		height:70px;
	}
.friend
	{
		cursor: pointer;
		white-space: nowrap;
		float: left;
		padding:  1px;
		margin-bottom: 1px;
		margin-left: .5px;
	}